[submodule "CS194-LZSS"]
	path = CS194-LZSS
	url = git@github.com:CS194-project/CS194-LZSS.git
[submodule "CS194-zlib"]
	path = CS194-zlib
	url = git@github.com:CS194-project/CS194-zlib.git
[submodule "CS194-pigz"]
	path = CS194-pigz
	url = git@github.com:CS194-project/CS194-pigz.git
[submodule "CS194-huff"]
	path = CS194-huff
	url = git@github.com:CS194-project/CS194-huff.git
